
@font-face {
    font-family: "Recoleta-Regular";
    src: url("../Recoleta/Recoleta-Regular.ttf");
}

@font-face {
    font-family: "Recoleta-SemiBoldBold";
    src: url("../Recoleta/Recoleta-SemiBold.ttf");
}