@import 'base', 'utilities';


.galeria {
    width: 100vw;

    .header-galeria {
        width: 100%;
        background-color: $primary-color;
        padding: 2rem 1rem;

        h1 {
            font-family: $TypoSec;
            font-size: 1.5rem;
            font-weight: 400;
            color: #ffffff;
            text-align: center;
            margin-bottom: .5rem;

            @include desktop() {
                & {
                    font-size: 2rem;
                }
            }
        }

        p {
            color: #ffffff;
            text-align: center;
        }
    }

    .galeria-container {
        width: 100%;
        padding: 2rem 1rem;

        .card-container {
            width: 100%;
            overflow: hidden;
            @include flexCenter(column, center);
            margin-bottom: 2rem;


            .thumbnail {
                width: 100%;
                cursor: pointer;
                position: relative;
                border-radius: .3rem;
                overflow: hidden;


                .foto-invitacion {
                    height: 100%;
                    width: 100%;
                }

                .hover-thumbnail {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    transition: opacity .5s ease;

                    &:hover {
                        opacity: 1;
                    }
                }

            }

            .card-info {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 1rem;

                a {
                    font-size: 1.5rem;
                    font-family: $TypoSec;
                    color: $primary-color;
                    text-decoration: none;
                    font-weight: 400;
                    margin-left: .2rem;


                    .iconTitle {
                        height: 1rem;
                        margin-right: .2rem;
                    }
                }
            }
        }

        @include desktop() {
            & {
                padding: 4rem 15%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .card-container {
                    width: 30%;
                }
            }
        }

    }
}